
<div class="container">
<h1>Dashboard Admin</h1>
<section class="kpi">
  <div class="kpi-card">
    <h3> <%= @total_visiteurs %> </h3>
    <p>Nombre de visiteurs</p>
  </div>
  <div class="kpi-card">
    <h3><%= @total_achats %> </h3>
    <p>Nombre de produits vendus</p>
  </div>
</section>

<h1>Performances</h1>
<section class="kpi">
  <div class="kpi-card">
    <h3> <%= @backend_duration %> ms </h3>
    <p>Backend performance</p>
  </div>
  <div class="kpi-card">
  <h3 id="front-end-time"> </h3>
  <p>Frontend performance</p>
  </div>
  <div class="kpi-card">
  <h3> <%= @bdd_duration %> ms</h3>
  <p>BDD performance</p>
</div>
</section>

</div>

<%= stylesheet_link_tag "admin", media: "all" %>