<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= content_for(:title) || "Miniirawo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: 'Arial', sans-serif;
        background: radial-gradient(circle at top, #ffffff, #e6e6e6, #cccccc);
        color: black;
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: auto; 
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 450px;
        padding: 10px 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 45px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
        margin-top: 20px;
        font-weight: bold;
      }

      .logo-img {
        width: 120px;
        height: auto;
        display: block;
      }

      .nav-links {
        display: flex;
        gap: 30px;
        font-size: 16px;
      }

      .nav-links a {
        color: #ffffff;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 6px;
        transition: all 0.3s ease;
        font-weight: 700;
      }

      .nav-links a:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #ffda79;
      }

      .cta-login {
        padding: 10px 20px;
        background: linear-gradient(90deg, #ffda79, #ffe57a);
        color: #3b0066;
        font-weight: bold;
        border-radius: 80px;
        text-decoration: none;
        box-shadow: 0 3px 10px rgba(255, 223, 138, 0.5);
        transition: all 0.3s ease;
      }
    </style>
  </head>

  <body>
    <div class="header">
    <%= link_to image_tag("irawo-logo.png", alt: "Irawo Logo",class:"logo-img") %>
      <div class="nav-links">
        <a href="<%= home_path %>">Ressources</a>
        <a href="<%= espace_path %>" class="cta-login">Votre Espace</a>
      </div>
   </div>
    <%= yield %>
  </body>
</html>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const timing = performance.timing;

  const frontEndTime = timing.responseEnd - timing.navigationStart;

  console.log("Front-End Time:", frontEndTime);

  const frontEndElement = document.getElementById("front-end-time");

  if (frontEndElement) {
    frontEndElement.textContent = `${frontEndTime} ms`;
  } else {
    console.error("L'élément avec l'ID 'front-end-time' est manquant.");
  }

  });

</script>